<h1>Welcome to Skye's Avatar Creation Tool Demo</h1>
<p>Create your <%= link_to 'Avatar', avatars_path %> now!</p>
<p>Check out the <%= link_to 'Item Catalog', items_path %>!</p>
<p>Are you a Skye artist? Head over to <%= link_to 'Item Upload', new_item_path %> to begin importing your art!</p>
