<h1>Try On Demo</h1>

<div id="avatar-canvas">
</div>

<div id="item-menu" >
  <%= render "item_menu" %>
</div>

<div id="search-menu">
  <%= form_tag edit_avatar_path, :method => 'get', :id => 'items_search' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>

<div id="clear-clothes">
  Clear
 </div>

