<h1>Avatar Menu</h1>
<% unless @avatar %>
  <p><%= link_to 'Create New', new_avatar_path %></p>
<% else %>
  <p><%= link_to 'Edit Avatar', edit_avatar_path(@avatar) %></p>
  <p><%= link_to 'Delete Avatar', avatar_path(@avatar),
           method: :delete, data: { confirm: 'Rinoa will be lost in space forever. Continue?' } %></p>
<% end %>
<p> <%= link_to "Home", root_path %>
