<div id="container"></div>
<div id="skinmenu">
	<a id='A' onClick='skin(this)'>A</a>
	<a id='B' onClick='skin(this)'>B</a>
	<a id='C' onClick='skin(this)'>C</a>
	<a id='D' onClick='skin(this)'>D</a>
	<a id='E' onClick='skin(this)'>E</a>
	<a id='F' onClick='skin(this)'>F</a>
</div>
<div id="sexmenu">
	<a id='Male' onClick='sex(this)'>Male</a>
	<a id='Female' onClick='sex(this)'>Female</a>
</div>

