<!DOCTYPE HTML>
<html>
  <body>
    <div id="container">
      <h1>Create New!</h1>
      <div id="avatar-display">sup</div>
      <% @items.each do |p| %>
        <%= image_tag p.images.first.image_layer_url, class: 'image-layer' %>
      <% end %>

      <div id="item-selection-menu">hey</div>
    </div>
  </body>
</html>
