<!DOCTYPE HTML>
<html>
  <body>
    <div id="container">
      <h1>Create New!</h1>
      <div id="avatar-display">sup</div>
      <div id="item-selection-menu">hey</div>
    </div>
  </body>
</html>
