<h1>avatar showcase</h1>
<div id="container"></div> <div id="item-menu"></div>
<div id="skin-menu">
	<a id='A'>A</a>
	<a id='B'>B</a>
	<a id='C'>C</a>
	<a id='D'>D</a>
	<a id='E'>E</a>
	<a id='F'>F</a>
</div>
<div id="sex-menu">
	<a id='Male'>Male</a>
	<a id='Female'>Female</a>
</div>

