<h1>Try On Demo</h1>

<div id="container">
</div>

<div id="item-menu" >
Hi


<% for item in @items %>
  <%= image_tag (item.images.first.image_layer_url), width: '100px', height: '100px', class: 'item-thumbnail'%>
<% end %>
</div>

<%= form_tag new_avatar_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="skin-menu">
  <a id='A'>A</a>
  <a id='B'>B</a>
  <a id='C'>C</a>
  <a id='D'>D</a>
  <a id='E'>E</a>
  <a id='F'>F</a>
</div>

<div id="sex-menu">
  <a id='Male'>Male</a>
  <a id='Female'>Female</a>
</div>

<div id="clear-clothes">
  Clear
 </div>

