Welcome to Hell!

<h1>Welcome to the FAQ page</h1>

{{#link-to 'index'}}gotit{{/link-to}}

<h2> Welcome to Ember.js</h2>
{{canvas-thing data=someControllerStuff}}
{{input placeholder="Type some swagtastic text" value=someControllerStuff}}