<div class="container-fluid">
  <div class="navbar-header">
    {{link-to title 'application' classNames="navbar-brand"}}
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      {{#each}}
        {{#list-link}}
          {{link-to title location}}
        {{/list-link}}
      {{/each}}
    </ul>
  </div>
</div>