<div class="navbar-header">
  {{link-to title 'application'}}
</div>
<section class="top-bar-section">
  <ul class="left">
    {{#each}}
    {{#list-link}}
      {{link-to title location}}
    {{/list-link}}
    {{/each}}
  </ul>
 
  <ul class="right">
    <a href="#" class="button" data-dropdown="drop">Sign In</a>
     <ul id="drop" class="[tiny small medium large content] f-dropdown" data-dropdown-content>
        <li><a href="#">This is a link</a></li>
        <li><a href="#">This is another</a></li>
        <li><a href="#">Yet another</a></li>
     </ul>
  </ul>
</section>