/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
*/

html,body { height:100%; }

.container .text-muted {
  margin: 20px 0;
}

.container-main {
	min-height: 545px;
	max-height: 750px;
	width: 1000px;
}

footer {
	text-align: center;
  margin-top: 50px;
}