// Place all the styles related to the avatars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#avatar-canvas
  display: inline-block
  width: 625px
  height: 680px
  vertical-align: top

#item-menu
  display: inline-block
  width: 350px
  height: 680px
  overflow-y: scroll
  background-color: gray
  vertical-align: top

#item-selection-menu
  display: inline-block
  width: 300px

.item-thumbnail
  border: 2px solid