// Place all the styles related to the avatars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
  text-align: center
  background: darkseagreen
  font-family: "Lucida Grande",Geneva,Arial,sans-serif,Tahoma
  margin: 0px auto
  padding: 0px
  width: 95%
  max-width: 1280px
  margin: 10px auto
  text-align: center
  min-width: 900px
 
#avatar-canvas
  display: inline-block
  width: 625px
  height: 680px
  vertical-align: top

#item-menu
  display: inline-block
  width: 350px
  height: 680px
  overflow-y: scroll
  background-color: gray
  vertical-align: top

#sex-menu a, #skin-menu a
  font-weight: bold

.selected
  color: red

.image-layer
  float: left
  width: 625px
  height: 680px

#item-selection-menu
  display: inline-block
  width: 300px

.item-thumbnail
  border: 2px solid